[Desktop Entry]
Version=1.0
Type=Application
Name=Calibre editor
GenericName=Calibre
Comment=Edit e-books in various formats
TryExec=ebook-edit
Exec=ebook-edit --detach %f
Icon=calibre-ebook-edit
Categories=Office;
Keywords=calibre;
MimeType={{ calibre_mimetypes.editor | join(';') }}
