[Desktop Entry]
Version=1.1
Type=Application
Name=Calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
TryExec=calibre
Exec=calibre --detach %F
Icon={{ desktop_icon.dest }}
Categories=Office;
Keywords=library;calibre;ebook;pdf;epub;
X-GNOME-UsesNotifications=true
MimeType={{ calibre_mimetypes.viewer | join(';') }}
