[Unit]
Description=Calibre content server
After=network.target

[Service]
Type=forking
{# User={{ calibre.user }} #}
{# note that pidfile is defined in two places (I don't know why really) #}
{# pidfile not existing or not owned by right user is getting annoying #}
PIDFile={{ calibre.pidfile }}
{# if we don't specify listen interface/port calibre-server will by default 0.0.0.0:8080 #}
ExecStart={{ calibre.bin }}/calibre-server \
   --daemonize \
   --log {{ calibre.logdir }}/server.log \
   --listen-on {{ calibre.interface }} \
   --port={{ calibre.port }} \
   --pidfile {{ calibre.pidfile }} \
   {{ calibre.library }}

[Install]
WantedBy=multi-user.target
