[Desktop Entry]
Version=1.0
Type=Application
Name=Calibre viewer
GenericName=Calibre
Comment=Viewer for e-books in all the major formats
TryExec=ebook-viewer
Exec=ebook-viewer --detach %f
Icon=calibre-viewer
Categories=Office;Viewer;
Keywords=calibre;
MimeType={{ calibre_mimetypes.viewer | join(';') }}
